<%- include("header")-%>

<div class="result">
  <h1>Temperature in <%= city%> is <%= temp%> degree celsius </h1>
  <h2>Weather in <%= city%> is <%= description%> !</</h2>
  <img src="<%= imgUrl%>" alt="">
  <br>
  <a href="/" class="btn btn-outline-dark" role="button" aria-pressed="true">Try Again</a>
</div>
<%- include("footer")-%>
